body{
    margin: 0;
    padding: 0;
    background-color: azure;
    background-image: url("https://www.greenamerica.org/sites/default/files/pieces/istockag2.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width: 320px;
    height: 420px;
    background: black;
    color: azure;
    border-radius: 5%;
    box-shadow: 20px;
    opacity: 100%;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 70px 30px;
    position: absolute;
    transform: translate(-50%,-50%)
    
}
.avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.loginbox button{
    width: 90%;
    border: none;
    outline: none;
    height: 40px;
    background-color: skyblue;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
